# Database
DB_NAME=boat_rental
DB_USER=boat_user
DB_PASSWORD=CHANGE_ME_LONG_PASSWORD_32_CHARS

# Redis
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD

# Django
SECRET_KEY=CHANGE_ME_DJANGO_SECRET_KEY_LONG
DEBUG=False
ALLOWED_HOSTS=arenda.kapitan-trips.ru

# S3 (VK Cloud или другой S3-compatible)
S3_BUCKET_NAME=yachts
AWS_ACCESS_KEY_ID=YOUR_S3_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_S3_SECRET_KEY
S3_ENDPOINT_URL=https://yachts.hb.ru-msk.vkcloud-storage.ru
S3_REGION=ru-msk

# Server
NGINX_SERVER_NAME=arenda.kapitan-trips.ru
NGINX_SSL_CERT_PATH=/etc/nginx/ssl/fullchain.pem
NGINX_SSL_KEY_PATH=/etc/nginx/ssl/privkey.pem
