# MySQL Database
MYSQL_DATABASE=bookstack
MYSQL_USER=bookstack
MYSQL_PASSWORD=CHANGE_ME_LONG_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD

# Bookstack
BOOKSTACK_DOMAIN=docs.kapitan-trips.ru
BOOKSTACK_APP_KEY=base64:CHANGE_ME_BOOKSTACK_APP_KEY
TZ=UTC

# Email configuration (optional)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_FROM_NAME=Bookstack Wiki
MAIL_FROM_ADDRESS=noreply@prvms.ru
MAIL_ENCRYPTION=tls

# LDAP / SSO (optional)
# AUTH_METHOD=ldap
# LDAP_SERVER=ldap.example.com
# LDAP_DN=cn=admin,dc=example,dc=com
# LDAP_PASS=password
